:root {
  --linear-background-top: linear-gradient(222deg, #02ddec -70%, #ee05db 0%, #02ddec 120%);
  /* top to bottom, #ee05db from 0 to 100 percent */
  --linear-background-bottom: linear-gradient(142deg, #02ddec -30%, #ee05db 0%, #02ddec 120%);
  /* top to bottom, #ee05db from 0 to 130 percent */
}
html, body {
  margin:0;padding:0;height:100%;width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  background: linear-gradient(127deg, rgba(125, 57, 189, 0.199) 0%, rgba(255, 230, 147, 0.205) 25%,
   rgba(125, 200, 228, 0.281) 75%, rgba(119, 177, 247, 0.568) 100%);
}
.container {
  margin-top: 5vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* border: 1px rgb(204, 204, 204) dotted; */
  height: 85vh;
  left: calc(50% - 48vh/2);
  width: 48vh;
}
#diamond-container {
  justify-content: center;
  overflow: hidden;
}
.diamond {
  margin: 0 auto 0 auto;
  position: relative;
}
#top-diamond {
  height: 36.3vh;
  width: 42vh; /* height * 1.157 for skewX(30deg) */
  position: relative;
}
#top-diamond:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--linear-background-top);
  transform-origin: left top;
  transform: rotate(-60deg) skewX(-30deg);
}
#bottom-diamond {
  height: 36.3vh;
  width: 42vh;
  position: relative;
}
#bottom-diamond:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--linear-background-bottom);
  transform-origin: left bottom;
  transform: rotate(60deg) skewX(30deg);
}
#display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vh;
  z-index: 2;
}
#right-container {
  display: flex;
  flex-direction: column;
  width: 17vh;
}
.right-items {
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-around;
}
h3, .title {
  font-size: 2.3vh;
  font-weight: normal;
}
.title {
  width: 12vh;
}
.set {
  width: 3.6vh;
  text-align: right;
  padding: 0px;
}
.active-session {
  text-shadow: 2px 1px 3px rgba(75,118,130,0.56);
  animation: color-change-session 5s infinite;
}
@keyframes color-change-session {
  0% { color: rgb(35, 144, 233); }
  50% { color: rgb(5, 5, 133); }
  100% { color: rgb(35, 144, 233); }
}
.active-break {
  text-shadow: 2px 1px 3px rgb(128, 173, 240);
  animation: color-change-break 5s infinite;
}
@keyframes color-change-break {
  0% { color: rgb(204, 0, 119); }
  50% { color: rgb(90, 0, 207); }
  100% { color: rgb(204, 0, 119); }
}
.arrow {
  font-size: 1vh;
}
.arrow:hover {
  color: orange !important;
}
.arrow:active {
  color: yellow !important;
}
.down {
  color: lightseagreen;
}
.up {
  color: rgb(150, 27, 161);
}
.session0 {
  color: rgb(226, 60, 231);
}
.session1 {
  color: rgb(98, 0, 255);
}
.session2 {
  color: rgb(24, 0, 161);
}
.session3 {
  color: rgb(0, 99, 145);
}
#left-container {
  width: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}
#pause-play:hover {
  color: rgb(0, 255, 255) !important;
}
#pause-play:active {
  color: yellow !important;
}
#reset:hover {
  color: rgb(219, 15, 15) 
}
#reset:active {
  color: yellow !important;
}
#timer {
  font-size: 4.5vh;
}
#controls {
  font-size: 2.4vh;
}
#controls > * {
  margin: 1.5vh;
  margin-top: 1vh;
  color: #1f91a4;
}
.extra {
  color: rgb(151, 0, 151);
}
.extra-hidden {
  color: transparent;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 1vh;
  padding-bottom: .5vh;
  color: white;
  font-size: 1.5vh;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: lightgray;
}
a:visited {
  text-decoration: none;
}