:root {
  /* --linear-background-top: linear-gradient(225deg,#13d4e2, #8672a1 0%, #13d4e2 60%); */
  --linear-background-top: linear-gradient(222deg, #02ddec -70%, #de1af8 0%, #02ddec 120%);
  /* top to bottom */
  --linear-background-bottom: linear-gradient(142deg, #02ddec -30%, #de1af8 0%, #02ddec 170%);
  
  /*top to bottom; pink goes from 0 to 150%
  /* --linear-background-bottom: linear-gradient(142deg,blue -30%, red 10%, blue 120%);  */
  /*top to bottom red goes from 10% to 200%*/
}
html, body {
  margin:0;padding:0;height:100%;width: 100%;
}
main {
  display: flex;
}
main > * {
  flex: 1;
}
.container {
  margin-top: 5vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px rgb(204, 204, 204) dotted;
  height: 85vh;
  left: calc(50% - 42.5vh/2);
  width: 42.5vh; /* hypotenuse of triangle created from two sides of one diamond */
}
#diamond-container {
  justify-content: center;
  overflow: hidden;
}
.diamond {
  /* background: var(--linear-background);
  height: 30vh;
  width: 30vh;
  border: 1px black solid; */
  margin: 0 auto 0 auto;
  position: relative;
}
#top-diamond {
  /* transform: rotate(225deg); */

  /* width: 0;
  height: 0;
  border-bottom: 0;
  border-left: 15vh solid transparent;
  border-right: 15vh solid transparent;
  border-top: 30vh solid red; */

  height: 36.3vh; /* width / 1.157 for skewX(30deg) */
  width: 42vh;
  position: relative;
  /* background-color: gold; */
  /* overflow: hidden; */
}
#top-diamond:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(225deg,#13d4e2, #8672a1 0%, #13d4e2 60%); */
  background-image: var(--linear-background-top);
  /*the second color will go from 0 to 100%; the third color will go from 60% to 100%, reaching 100% about halfway through */
  transform-origin: left top;
  transform: rotate(-60deg) skewX(-30deg);
}
#bottom-diamond {
  /* transform: rotate(45deg); */

  /* width: 0;
  height: 0;
  border-top: 0;
  border-left: 15vh solid transparent;
  border-right: 15vh solid transparent;
  border-bottom: 30vh solid red; */

  height: 36.3vh;
  width: 42vh;
  position: relative;
  /* background-color: orange; */
  /* overflow: hidden; */
}
#bottom-diamond:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #762ada, #13d4e2 0%, #762ada 60%); */
  background-image: var(--linear-background-bottom);
  transform-origin: left bottom;
  transform: rotate(60deg) skewX(30deg);
}
#display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vh;
  z-index: 2;
}
#right-container {
  display: flex;
  flex-direction: column;
  width: 15vh;
}
.right-items {
  /* background: orange; */
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-evenly;
}

.active-session {

  text-shadow: 1px 1px 1px rgba(163, 223, 241, 0.31);
  animation: color-change-session 5s infinite;
}
@keyframes color-change-session {
  0% { color: rgb(35, 144, 233); }
  50% { color: rgb(5, 5, 133); }
  100% { color: rgb(35, 144, 233); }
}
.active-break {

  text-shadow: 1px 1px 1px rgba(163, 223, 241, 0.31);
  animation: color-change-break 5s infinite;
}
@keyframes color-change-break {
  0% { color: rgb(225, 82, 238); }
  50% { color: rgb(223, 8, 37); }
  100% { color: rgb(171, 105, 224); }
}
.arrow {
  font-size: 1vh;
}
.arrow:hover {
  color: orange !important;
}
.down {
  color: lightseagreen;
}
.up {
  color: lightskyblue;
}
.session0 {
  color: rgb(226, 60, 231);
}
.session1 {
  color: rgb(98, 0, 255);
}
.session2 {
  color: rgb(24, 0, 161);
}
.session3 {
  color: rgb(0, 99, 145);
}
#left-container {
  width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover {
  color: rgb(39, 136, 104) !important;
}
button:active {
  color: yellow !important;
}
#timer {
  font-size: 4.5vh;
}
#controls {
  font-size: 2.4vh;
}
#controls > * {
  margin: 1.5vh;
  margin-top: 1vh;
  color: #a5a5a5;
}
#controls > *:hover {
  color: green;
}
.extra {
  color: red;
}
.extra-hidden {
  color: transparent;
}
/* #pause-play {
  color: rgb(74, 9, 253);
} */
#pause-play:hover {
  color: rgb(0, 255, 255) !important;
}
#pause-play:active {
  color: yellow !important;
}