html, body {
  margin:0;padding:0;height:100%;width: 100%;
  --linear-background: linear-gradient(-45deg, white 60%, red);
}
main {
  display: flex;
}
main > * {
  flex: 1;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px rgb(204, 204, 204) dotted;
  height: 85vh;
  left: calc(50% - 42.5vh/2);
  width: 42.5vh; /* hypotenuse of triangle created from two sides of one diamond */
}
.diamond {
  background: var(--linear-background);
  height: 30vh;
  width: 30vh;
  border: 1px black solid;
  margin: auto;
  position: relative;
}
#top-diamond {
  transform: rotate(225deg);
}
#bottom-diamond {
  transform: rotate(45deg);
}
#display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vh;
  z-index: 2;
}
#right-container {
  display: flex;
  flex-direction: column;
  width: 15vh;
}
.right-items {
  /* background: orange; */
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-evenly;
}
.active-title {
  color: blue;
}
.session0 {
  color: blue;
}
.session1 {
  color: red;
}
.session2 {
  color: purple;
}
.session3 {
  color: green;
}
#left-container {
  width: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
}
button:focus {
  outline: none;
}
button:hover {
  color: rgb(39, 136, 104);
}
button:active {
  color: blue;
}
#timer {
  font-size: 4.5vh;
}
#controls {
  font-size: 2.4vh;
}
#controls > * {
  margin: 1.5vh;
  margin-top: 1vh;
}
#controls > *:hover {
  color: green;
}
.extra {
  color: red;
}
.extra-hidden {
  color: transparent;
}